<h1>Listing sensor_data</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Sensor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sensor_data.each do |sensor_datum| %>
  <tr>
    <td><%= sensor_datum.value %></td>
    <td><%= sensor_datum.sensor_id %></td>
    <td><%= link_to 'Show', sensor_datum %></td>
    <td><%= link_to 'Edit', edit_sensor_datum_path(sensor_datum) %></td>
    <td><%= link_to 'Destroy', sensor_datum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sensor datum', new_sensor_datum_path %>
