<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @sensor_datum.value %>
</p>

<p>
  <b>Sensor:</b>
  <%= @sensor_datum.sensor_id %>
</p>


<%= link_to 'Edit', edit_sensor_datum_path(@sensor_datum) %> |
<%= link_to 'Back', sensor_data_path %>
