<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Id:</b>
  <%= @device.id %>
</p>

<p>
  <b>Last changed:</b>
  <%= @device.last_changed %>
</p>

<p>
  <b>Description:</b>
  <%= @device.description %>
</p>

<p>
  <b>Address:</b>
  <%= @device.address %>
</p>

<p>
  <b>Value:</b>
  <%= @device.value %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
