<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">


  /* ***********************************************
	Receives the sensor object and extracts an INT 
	This could be used to add sensor data to the chart 
  ************************************************ */
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {

 	var gaugeData = new google.visualization.DataTable();
	gaugeData.addColumn('string', 'Date');
	gaugeData.addColumn('number', '<%= h @sensor.sensor_type -%>');
	gaugeData.addRows(<%= h @sensor_data.length -%>);

  <% @sensor_data.each do |sensor| %>
    gaugeData.setCell(<%= sensor.id - 1%>, 1, <%= sensor.value %>);
    gaugeData.setCell(<%= sensor.id - 1%>, 0, '<%= sensor.created_at %>');
  <% end %>
  var options = {
    title: '<%= h @sensor.sensor_type -%>'
  };

  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(gaugeData, options);
  }
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sensor.name %>
</p>

<p>
  <b>Sensor type:</b>
  <%= @sensor.sensor_type %>
</p>

<p>
  <b>Sensor:</b>
  <%= @sensor.sensor_id %>
</p>

<p>
  <b>Min temperature:</b>
  <%= getMin(@sensor_data) %>
</p>

<p>
  <b>Max temperature:</b>
  <%= getMax(@sensor_data) %>
</p>

<div id="chart_div" style="width: 450px; height: 250px;"></div>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Destroy', @sensor, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', gateway_path(@sensor.gw) %>



