<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gateway.name %>
</p>

<p>
  <b>Gateway:</b>
  <%= @gateway.gateway_id %>
</p>
<div>
	<p> 
		<b>Sensors:</b>
		<% if @sensor.length != 0 %>
			<% @sensor.each do |sensor| %>
			<br />
			<%= sensor.name %>
			-
			<%= sensor.sensor_type %>
			-
			<%= link_to 'Show', sensor %>
			<% end %>
		<% else %>
		<b> Found no sensors, add a <%= link_to 'new Sensor',new_sensor_path(:actions => 'new', :gw => @gateway)%></br>
		<% end %>	
	</p>
</div>


<%= link_to 'Edit', edit_gateway_path(@gateway) %> |
<%= link_to 'Back', gateways_path %> |
<%= link_to 'New Sensor',new_sensor_path(:actions => 'new', :gw => @gateway)%> |
